body{
    font-family: "Poppins", sans-serif;
}

.title-block{
    display: flex;
    align-items: center;
    gap: 10px;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.title-block .fa-imdb{
    font-size: 48px;
    color: yellow;
}

.title-block .title{
    margin: -5px;
    font-size: 48px;
}

.search-box{
    padding-top: 50px;
    padding-right: 20px;
    float: right;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-box input{
    background-color: transparent;
    width: 300px;
    padding: 1em .3em;
    border-radius: 35px;
}

.search-box button{
    padding: 1em 2em;
    background-color: yellow;
    border-radius: 35px;
}

.welcome-message{
    padding-top: 70px;
    font-size: 30px;
    text-align: center;
}

.poster-block{
    display: flex;
    justify-content: center;
    gap: 5px;
}

img{
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
}