body{
    font-family: "Poppins", sans-serif;
}

.main-block{
    display: flex;
    gap: 50px;
}

.text-block{
    display: flex;
    gap: 20px;
}

.film-name{
    font-size: 100px;
    margin-top: -100px;
}

.year{
    font-size: 25px;
    margin-top: 42px;
}

img{
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    margin-left: 5px;
    margin-top: 7px;
}