body{
    font-family: "Poppins", sans-serif;
}

.main-block{
    display: flex;
    gap: 50px;
}

.description-block{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    margin-top: -800px;
}

.film-name{
    font-size: 60px;
    margin-bottom: -60px;
}

.basic-info{
    display: flex;
    gap: 10px;
    max-width: 650px;
    justify-content: center;
}

.year{
}

.director{
    font-style: italic;
}

.tagline{
    display: flex;
    max-width: 650px;
    justify-content: center;
}

img{
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    margin-left: 5px;
    margin-top: 7px;
}