*{
    background-color: rgb(41, 41, 41);
}
body{
    font-family: "Poppins", sans-serif;
}

.main-block{
    display: flex;
    gap: 50px;
}

.description-block{
    display: flex;
    flex-direction: column;
    margin-left: 550px;
    margin-top: -770px;
    max-width: 400px;
}

.film-name{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: -60px;
}

.basic-info{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.year{
}

.director{
    font-style: italic;
}

.tagline{
}

img{
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    margin-left: 5px;
    margin-top: 7px;
}